#resume{
    background-color: #2d545e;
    color: #e1b382;
}

h2.section-header{
    background-color: #12343b;
    color: #c89666;
    text-align: center;
    
}

a{
    color:white;
}

section{
    box-sizing: border-box;
    width: 50%; 
    border-style: solid;
    border-color: #e1b382;
    background-color: #2d545e;
    
}

.section-one{
    float: left;
    
    
}

.section-two{
    float: right;
    
}