#resume{
    background-color: #2d545e;
    color: #e1b382;
}

h2.section-header{
    background-color: #12343b;
    color: #c89666;
    text-align: center;  
}

a{
    color:white;
}

section{
    box-sizing: border-box;
    width: 50%; 
    border-style: solid;
    border-color: #e1b382;
    background-color: #2d545e;
    padding: 1%
    
}

#activites-section{ 
    
    width: 100%;
    border-style: solid;
    border-color: #e1b382;
    background-color: #2d545e;
    padding: 1%;
}


div.divboxes{
    display: flex;
    align-items: stretch;
}

.section-one{
    float: left;
    
     /*pushes section to the left*/
}

.section-two{
    float: right;
    /*pushes section to the right*/
}

nav{
    position:fixed;
    width: 100%;
    top: 0;
    background-color: #12343b;
    color: #c89666;
    padding-bottom: 5px;
    text-align: center;
    /*blocks heading for each section by design*/
}

body{
    padding-top:55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:276px; 
    width: 50%;
    height: auto;
}
h1{
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

