/* changes entire site background and font color */
#resume {
    background-color: #2d545e;
    color: #e1b382;
}

/* centers section headers and changes background and font color */
h2.section-header {
    background-color: #12343b;
    color: #c89666;
    text-align: center;
}

/* changes all links to white */
a {
    color: white;
}

/* creates every box to shift left and right to create two columns */
section {
    box-sizing: border-box;
    width: 50%;
    border-style: solid;
    border-color: #e1b382;
    background-color: #2d545e;
    padding: 1%;
}

/* creates box for activities sections */
#activities-section {
    width: 100%;
    border-style: solid;
    border-color: #e1b382;
    background-color: #2d545e;
    padding: 1%;
}

/* makes all sections boxes same height and width */
div.divboxes {
    display: flex;
    align-items: stretch;
}

/* pushes section to the left */
.section-one {
    float: left;
}

/* pushes section to the right */
.section-two {
    float: right;
}

/* creates banner and blocks heading for each section by design */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #12343b;
    color: #c89666;
    padding-bottom: 5px;
    text-align: center;
    font-style: oblique;
}

/* sets padding top and changes paragraph style to sans serif */
body {
    padding-top: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* allows image to be centered and scaled */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 50%;
    height: auto;
}

/* aligns my name and makes it larger and normal */
h1 {
    text-align: center;
    font-style: normal;
    font-size: xx-large;
}

/* makes all header fonts serif */
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
